.heading {
  margin-top: 25px;
  
  h1,
  h6::first-letter {
    margin: 0;
    text-transform: capitalize;
  }

  h1::first-letter {
    margin-bottom: 10px;
    text-transform: capitalize;
  }
  p {
    margin-bottom: 5px;
  }
  
}

.address {
  padding: 0px 16px;
  padding-top: 15px;
  text-transform: capitalize;

  h1,
  p {
    margin: 0;
  }
  h1 {
    margin-bottom: 10px;
  }

  p {
    margin: 10px 6px;
    text-transform: capitalize;
  }
}

.menu {
  padding-top: 15px;
  h1 {
    padding: 0px 16px;
  }
  
}
.btn-position{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image {
  width: 10em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.txt{
  text-align: center;
}