.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sc-ion-searchbar-md-h {
  --box-shadow: none;
}

#restaurants {
  h2 {
    padding: 0px 15px;
    margin-bottom: 10px;
  }

  ion-list {
    ion-item {
      margin-bottom: 25px;
      div {
        h5 {
          margin: 0px;
        }
        p {
          margin: 0;
          margin-top: 10px;
          margin-bottom: 5px;
        }
      }
    }
  }
}

.filters {
  overflow: auto;
  white-space: nowrap;
  height: 50px;
}
