<ion-content>

    <!-- Heading -->
    <div class="heading">

        <h1>Restaurant Finder</h1>

        <ion-button>
            <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
        </ion-button>

    </div>

    <!-- Location Change -->
    <ion-item button>
        <ion-label slot="start">
            Location
        </ion-label>
        <ion-label slot="end">
            <strong>Chennai</strong>
        </ion-label>
    </ion-item>

    <!-- Searchbar -->
    <ion-searchbar showCancelButton="focus"></ion-searchbar>

    <!-- Horizontal Scolling -->
    <div class="filters">

        <ion-chip color="primary" outline="true">
            <ion-label color="dark">Restaurant</ion-label>
        </ion-chip>

        <ion-chip color="primary" outline="true">
            <ion-label color="dark">Restaurant</ion-label>
        </ion-chip>

        <ion-chip color="primary" outline="true">
            <ion-label color="dark">Restaurant</ion-label>
        </ion-chip>

        <ion-chip color="primary" outline="true">
            <ion-label color="dark">Restaurant</ion-label>
        </ion-chip>

        <ion-chip color="primary" outline="true">
            <ion-label color="dark">Restaurant</ion-label>
        </ion-chip>

        <ion-chip color="primary" outline="true">
            <ion-label color="dark">Restaurant</ion-label>
        </ion-chip>

        <ion-chip color="primary" outline="true">
            <ion-label color="dark">Restaurant</ion-label>
        </ion-chip>



    </div>

    <!-- Restaurants -->

    <div id="restaurants">

        <h2>Restaurants</h2>

        <ion-list>

            <!-- Restaurant Item -->
            <ion-item button>
                <div>
                    <h5>Restaurant Name</h5>
                    <p>Locality</p>
                    <div class="info">
                        <ion-chip color="success">
                            <ion-label>South Indian</ion-label>
                        </ion-chip>
                        <ion-chip color="warning">
                            <ion-label>Non-veg</ion-label>
                        </ion-chip>
                    </div>
                </div>
            </ion-item>


            <!-- Restaurant Item -->
            <ion-item button>
                <div>
                    <h5>Restaurant Name</h5>
                    <p>Locality</p>
                    <div class="info">
                        <ion-chip color="success">
                            <ion-label>South Indian</ion-label>
                        </ion-chip>
                        <ion-chip color="warning">
                            <ion-label>Non-veg</ion-label>
                        </ion-chip>
                    </div>
                </div>
            </ion-item>


            <!-- Restaurant Item -->
            <ion-item button>
                <div>
                    <h5>Restaurant Name</h5>
                    <p>Locality</p>
                    <div class="info">
                        <ion-chip color="success">
                            <ion-label>South Indian</ion-label>
                        </ion-chip>
                        <ion-chip color="warning">
                            <ion-label>Non-veg</ion-label>
                        </ion-chip>
                    </div>
                </div>
            </ion-item>


            <!-- Restaurant Item -->
            <ion-item button>
                <div>
                    <h5>Restaurant Name</h5>
                    <p>Locality</p>
                    <div class="info">
                        <ion-chip color="success">
                            <ion-label>South Indian</ion-label>
                        </ion-chip>
                        <ion-chip color="warning">
                            <ion-label>Non-veg</ion-label>
                        </ion-chip>
                    </div>
                </div>
            </ion-item>


            <!-- Restaurant Item -->
            <ion-item button>
                <div>
                    <h5>Restaurant Name</h5>
                    <p>Locality</p>
                    <div class="info">
                        <ion-chip color="success">
                            <ion-label>South Indian</ion-label>
                        </ion-chip>
                        <ion-chip color="warning">
                            <ion-label>Non-veg</ion-label>
                        </ion-chip>
                    </div>
                </div>
            </ion-item>


            <!-- Restaurant Item -->
            <ion-item button>
                <div>
                    <h5>Restaurant Name</h5>
                    <p>Locality</p>
                    <div class="info">
                        <ion-chip color="success">
                            <ion-label>South Indian</ion-label>
                        </ion-chip>
                        <ion-chip color="warning">
                            <ion-label>Non-veg</ion-label>
                        </ion-chip>
                    </div>
                </div>
            </ion-item>

            <!-- Restaurant Item -->
            <ion-item button>
                <div>
                    <h5>Restaurant Name</h5>
                    <p>Locality</p>
                    <div class="info">
                        <ion-chip color="success">
                            <ion-label>South Indian</ion-label>
                        </ion-chip>
                        <ion-chip color="warning">
                            <ion-label>Non-veg</ion-label>
                        </ion-chip>
                    </div>
                </div>
            </ion-item>


        </ion-list>
    </div>

</ion-content>