.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sc-ion-searchbar-md-h {
  --box-shadow: none;
}

#restaurants {
  h2 {
    padding: 0px 15px;
    margin-bottom: 10px;
  }

  ion-list {
    .image {
      width: 10em;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .txt{
      text-align: center;
    }
    ion-item {
      margin-bottom: 25px;
      div {
        h5::first-letter {
          margin: 0px;
          text-transform: capitalize;
        }
        p::first-letter {
          margin: 0;
          margin-top: 10px;
          margin-bottom: 5px;
          text-transform: capitalize;
        }
      }
    }
  }
}

.filters {
  overflow: auto;
  white-space: nowrap;
  height: 50px;
}
